<#include "../common.ftl">  
<@header title="Admin">  
</@header>
<script type="text/javascript">
	var dataGrid;
    $.ajaxSetup({
    	data:{ "${_csrf.parameterName}" : "${_csrf.token}" }
    });
    function addFun(){
    	$.ajax({
    	    url: "/admin/generateInvitationCodes",
    	    data:{
    	    	amount:$("#generate-invitation-code-amount").val()
    	    },
    	    type: "POST",
    	    dataType: "json",
    	    success: function(responseMessage) {
    	    	if(responseMessage.code!="Success"){
    	    		$.messager.alert('提示', responseMessage.message, 'info');
    	    		return;
    	    	}
    	    	dataGrid.datagrid('reload');
    	    },
    	    error:function(){
    	    	$.messager.alert('提示', 'Error', 'info');
    	    }
    	});
    }
	$(function() {
		dataGrid = $('#dataGrid').datagrid({
			url : '${ctx}/admin/queryInvitationCodes',
			queryParams:$('#searchForm').serializeObject(),
			fit : true,
			fitColumns : true,
			border : false,
			pagination : true,
			idField : 'code',
			pageSize : 10,
			pageList : [ 10, 20, 30, 40, 50 ],
			checkOnSelect : false,
			selectOnCheck : false,
			nowrap : false,
			frozenColumns : [ [ {
				field : 'code',
				title : 'code',
				width : 300,
				sortable : true
			}, {
				field : 'createTime',
				title : 'createTime',
				width : 150,
				sortable : true,
				formatter : function(value, row, index) {
					return $.timeStamp2String(value);
				}
			},{
				field : 'usedTime',
				title : 'usedTime',
				width : 150,
				sortable : true,
				formatter : function(value,row,index){
					if(value>0){
					return $.timeStamp2String(value);
					}
				}

			} ] ],
			columns : [ [ {
				field : 'usedUsername',
				title : 'usedUsername',
				width : 150,
			},{
				field : 'used',
				title : 'used',
				width : 100,
			} ] ],
			toolbar : '#toolbar',
			onLoadSuccess : function() {
				$('#searchForm table').show();
				parent.$.messager.progress('close');

				/* $(this).datagrid('tooltip'); */
			},
			onRowContextMenu : function(e, rowIndex, rowData) {
				console.log(rowData);
				e.preventDefault();
				$(this).datagrid('unselectAll').datagrid('uncheckAll');
				$(this).datagrid('selectRow', rowIndex);
				/* var roles="";
				for(var i=0;i<rowData.usedUser.roles.length;i++){
					roles+=rowData.usedUser.roles[i].name;
				}
				
				var userDetails="Username:"+rowData.usedUser.username+"<br />"
						+"Roles:"+roles+"<br />"
						+"CreateTime:"+$.timeStamp2String(rowData.usedUser.createTime); */
				$.messager.alert('UserDetails', userDetails);
			}
		});
	});

	
	function deleteFun(id) {
		if (id == undefined) {//点击右键菜单才会触发这个
			var rows = dataGrid.datagrid('getSelections');
			id = rows[0].id;
		} else {//点击操作里面的删除图标会触发这个
			dataGrid.datagrid('unselectAll').datagrid('uncheckAll');
		}
		$.messager.confirm('询问', '您是否要删除当前银行信息？', function(b) {
			if (b) {
				parent.$.messager.progress({
						title : '提示',
						text : '数据处理中，请稍后....'
					});
					$.post('${ctx}/channel/bank/delete.do', {
						bankCode : id
					}, function(result) {
						if (result.success) {

							dataGrid.datagrid('reload');

						}else{
							$.messager.alert('提示', result.msg, 'info');
						}
						parent.$.messager.progress('close');
					}, 'JSON');
			}
		});
	}


	function editFun(id,bankName) {
		if (id == undefined) {
			var rows = dataGrid.datagrid('getSelections');
			id = rows[0].id;
		} else {
			dataGrid.datagrid('unselectAll').datagrid('uncheckAll');
		}
		$.modalDialog({
			title : '编辑银行',
			width : 500,
			height : 300,
			href : '${ctx}/channel/bank/editPage.do?bankCode=' + id+'&bankName='+encodeURI(encodeURI(bankName)),
			buttons : [ {
				text : '编辑',
				handler : function() {
					$.modalDialog.openner_dataGrid = dataGrid;//因为添加成功之后，需要刷新这个dataGrid，所以先预定义好
					var f = $.modalDialog.handler.find('#form');
					f.submit();
				}
			} ]
		});
	}

	
	

	function searchFun() {
		dataGrid.datagrid('load', $('#searchForm').serializeObject());
	}
	function cleanFun() {
		$('#searchForm input').val('');
		dataGrid.datagrid('load', {});
	}
</script>


	<div class="easyui-layout" data-options="fit : true,border : false">
		<div data-options="region:'north',border:false" style="height: 40px; overflow: hidden;">
			<form id="searchForm">
				<table style="display: none;">
					<tr>
						<td style="text-align:right;"><@spring.message 'invitationCode' /></td>
						<td width="140px"><input name="code" type="text"  style="width:135px" autocomplete="off"/></td>
						<!-- <td style="text-align:right;">银行编号</td>
						<td width="140px"><input name="bankCode" type="text"  style="width:135px" autocomplete="off"/></td> -->
						<td style="padding-left:10px">
					
							<a href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" style="width:65px" onclick="searchFun();">查询</a>
							 
							</td>
					   
					</tr>
				</table>
			</form>
		</div>
		<div data-options="region:'center',border:false" style="padding-bottom:56px">
			<table id="dataGrid"></table>
		</div>
	</div>
	<div id="toolbar" style="display: none;">
			<div>
				<a style="left:0px" onclick="$('#generate-invitation-code-form').show();" href="javascript:void(0);" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'">
					<@spring.message 'generateInvitationCode' />
				</a>
				<h id="generate-invitation-code-form" style="display:none">
				<input type="number" id="generate-invitation-code-amount" placeholder="<@spring.message 'amount' />"/>
				<a href="javascript:addFun()" id="generate-invitation-code-button" class="easyui-linkbutton" plain="true" iconCls="icon-save">
					<@spring.message 'generate' />
				</a>
				<a href="javascript:void(0)" onclick="$('#generate-invitation-code-form').hide();" id="generate-invitation-code-button" class="easyui-linkbutton" plain="true" iconCls="icon-cancel">
					<@spring.message 'cancel' />
				</a>			
				</h>
			</div>
			<div style="display:none" id="generate-invitation-code-form" style="width:400px">
				&nbsp;&nbsp;&nbsp;<input type="number" min="1" max="10" id="generate-invitation-code-amount" placeholder="<@spring.message 'amount' />"/>
				<a href="javascript:addFun()" id="generate-invitation-code-button" class="easyui-linkbutton" plain="true" iconCls="icon-save">
					<@spring.message 'generate' />
				</a>
			</div>
	</div>