<#include "../common.ftl">  
<@header title="User">  
</@header>
<script type="text/javascript">
	$(document).ready(function(){
		$.ajaxSetup({
	    	data:{ "${_csrf.parameterName}" : "${_csrf.token}" }
	    });

		$('#upload-files-div').window({
		    width:600,
		    height:400,
		    href:'showUploadFile',
		    closed:true
		});
		$("#open-upload-file-div").click(function(){
			$('#upload-files-div').window("open");
		})
	});
	
</script>
<@authorize ifAnyGranted="ROLE_ADMIN">
   <a href="../admin/index" class="easyui-linkbutton" data-options="iconCls:'icon-man'">admin</a><br />
</@authorize>
<div id="upload-files-div"></div>
<a id="open-upload-file-div" class="easyui-linkbutton" data-options="iconCls:'icon-add'"><@spring.message 'upload' /></a>
<form action="../logout" method="post">
	<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
	<input type="submit" value="<@spring.message 'logout' />">
</form>