<#include "../common.ftl">  
<@header title="User">  
</@header>
<script type="text/javascript">
var usedSize;
var totalSize;
	$(document).ready(function(){
		$.ajaxSetup({
	    	data:{ "${_csrf.parameterName}" : "${_csrf.token}" }
	    });
		usedSize="${SPRING_SECURITY_CONTEXT.getAuthentication().getPrincipal().getUsedSize()}";
		usedSize=usedSize.replace(/,/g,"");
		usedSize=Number(usedSize);
		totalSize="${SPRING_SECURITY_CONTEXT.getAuthentication().getPrincipal().getTotalSize()}";
		totalSize=totalSize.replace(/,/g,"");
		totalSize=Number(totalSize);
		refreshStorage();
		
		$('#upload-files-div').window({
			title:'<@spring.message 'upload' />',
		    width:800,
		    height:400,
		    href:'showUploadFile',
		    closed:true
		});
		$("#open-upload-file-button").click(function(){
			$('#upload-files-div').window("open");
		});
		$("#logout-button").click(function(){
			$("#logout-form").submit();
		});
		$("#group-chat-button").click(function(){
			window.open("${ctx}/user/groupChat");
		})
		dataGrid = $("#download-files-grid").datagrid({
			url : '${ctx}/user/queryFiles',
			queryParams:$('#searchForm').serializeObject(),
	        fit: true,
	        resizable:true,
	        fitColumns: true,
	        rownumbers: true,
	        nowrap: true,
	        animate: false,
	        border: false,
	        fitColumns:true,
	        singleSelect: false,
	        idField: 'fileId',
	        pagination: true,
	        columns:[[
	            { field:'',checkbox:true },
	            {title : 'encryptName',field:'encryptName',hidden:true,width:100},
	            { title: 'id', field: 'id',hidden:true,width:100},
	            { title: '<@spring.message 'fileOriginalName' />',field: 'originalName',width: 230,sortable:true,fixed:true},
	            { title: '<@spring.message 'fileExtension' />',field: 'extension',width: 80,sortable:true,fixed:true},  
	            { title: '<@spring.message 'fileSize' />',field: 'size',width: 100,fixed:true,sortable:true,
	            	formatter : function(value,row,index){
					if(value>0){
						return $.formatSize(value);
						}
					}},
	            { title: '<@spring.message 'createTime' />',field: 'createTime',width: 150,fixed:true,sortable:true,
	            	formatter : function(value,row,index){
					if(value>0){
						return $.timeStamp2String(value);
						}
					}}
	        ]]
	    });
	});
	function searchFun() {
		dataGrid.datagrid('load', $('#searchForm').serializeObject());
	}
	function deleteFun(){
		var idArray=new Array();
		var fileArray=dataGrid.datagrid('getSelections');
		for(var i=0;i<fileArray.length;i++){
			idArray.push(fileArray[i].id);
			console.log(fileArray[i]);
		}
		$.ajax({
    	    url: "${ctx}/file/delete",
    	    data:{
    	    	ids:idArray
    	    },
    	    type: "POST",
    	    dataType: "json",
    	    success: function(responseMessage) {
    	    	if(responseMessage.code=="Success"){
    	    		for(var i=0;i<fileArray.length;i++){
    	    			updateUsedSizeAndRefreshStorage(-fileArray[i].size);
    	    		}
    	    		dataGrid.datagrid('reload', $('#searchForm').serializeObject());
    	    		dataGrid.datagrid('clearSelections');
    	    		return;
    	    	}
    	    	
    	    	$.messager.alert('<@spring.message 'message' />', '<@spring.message 'error' />', 'info');
    	    },
    	    error:function(){
    	    	$.messager.alert('<@spring.message 'message' />', '<@spring.message 'error' />', 'info');
    	    }
    	});
	}
	
	function downloadFun(){
		var fileArray=dataGrid.datagrid('getSelections');
		var idArray=new Array();
		var url="${ctx}/file/download";
		for(var i=0;i<fileArray.length;i++){
			idArray.push(fileArray[i].id);
		}
		console.log(idArray);
        	var form = $("<form></form>").attr("action", url).attr("method", "post");
        	/* form.append($("<input></input>").attr("type", "hidden").attr("name", "encryptName").attr("value", fileArray[i].encryptName));
        	form.append($("<input></input>").attr("type", "hidden").attr("name", "originalName").attr("value", fileArray[i].originalName));
        	form.append($("<input></input>").attr("type", "hidden").attr("name", "extension").attr("value", fileArray[i].extension)); */
        	form.append($("<input></input>").attr("type", "hidden").attr("name", "ids").attr("value", idArray));
        	form.append($("<input></input>").attr("type", "hidden").attr("name", "${_csrf.parameterName}").attr("value", "${_csrf.token}"))
        	form.appendTo('body').submit().remove(); 
	}
	function updateUsedSizeAndRefreshStorage(usedSizeChange){
		usedSize+=usedSizeChange;
		refreshStorage();
	}
	function refreshStorage(){
		$('#size-progressbar').progressbar({
		    text:$.formatSize(usedSize)+"/"+$.formatSize(totalSize),
		    value:usedSize*100/totalSize
		});
	}
	function timeStampFormatter(date){
		console.log(date.getTime());
		var y = date.getFullYear();
		var m = date.getMonth()+1;
		var d = date.getDate();
		return y+'-'+(m<10?('0'+m):m)+'-'+(d<10?('0'+d):d);
	}
</script>
<@authorize ifAnyGranted="ROLE_ADMIN">
   <a href="../admin/index" class="easyui-linkbutton" data-options="iconCls:'icon-man'"><@spring.message 'admin' /></a>
</@authorize>
 
<div id="upload-files-div"></div>
<a id="open-upload-file-button" class="easyui-linkbutton" data-options="iconCls:'icon-add'"><@spring.message 'upload' /></a>
<a id="logout-button" class="easyui-linkbutton" data-options="iconCls:'icon-remove'"><@spring.message 'logout' /></a>
<a id="group-chat-button" class="easyui-linkbutton"><@spring.message 'groupChat' /></a>
<div class="easyui-layout" data-options="fit : true,border : false" >
<form action="../logout" method="post" id="logout-form" style="display:none">
	<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
</form>

		<div data-options="region:'north',border:false" style="height: 40px; overflow: hidden;">
			<div id="size-progressbar" data-options="border : false" class="easyui-progressbar" style="width:200px;float:right"></div>
			<form id="searchForm">
				<table style="">
					<tr>
						<td style="text-align:right;"><@spring.message 'fileOriginalName' />:</td>
						<td width="140px"><input name="originalName" type="text"  style="width:135px" autocomplete="off"/></td>
						<td style="text-align:right;"><@spring.message 'fileExtension' />:</td>
						<td width="140px"><input name="extension" type="text"  style="width:135px" autocomplete="off"/></td>
						<td style="text-align:right;"><@spring.message 'beginCreateTime' />:</td>
						<td width="140px"><input class="easyui-datebox" name="beginCreateTime" data-options="formatter:timeStampFormatter,editable:false" style="width:100%;"></td>
						<td style="text-align:right;"><@spring.message 'endCreateTime' />:</td>
						<td width="140px"><input class="easyui-datebox" name="endCreateTime" data-options="formatter:timeStampFormatter,editable:false" style="width:100%;"></td>
						<!-- <td style="text-align:right;">银行编号</td>
						<td width="140px"><input name="bankCode" type="text"  style="width:135px" autocomplete="off"/></td> -->
						<td style="padding-left:10px">
							<a href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" style="width:65px" onclick="searchFun();"><@spring.message 'search' /></a>	 
						</td>
						<td style="padding-left:10px">
							<a href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true" style="width:65px" onclick="deleteFun();"><@spring.message 'delete' /></a>	 
						</td>
						<td style="padding-left:10px">
							<a href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" style="width:80px" onclick="downloadFun();"><@spring.message 'download' /></a>	 
						</td>
					   
					</tr>
				</table>
			</form>
		</div>
		<div data-options="region:'center',border:false" style="padding-bottom:100px">
			<table id="download-files-grid"></table>
		</div>
	</div>
</body>
</html>