<#include "../common.ftl">
<script>
var totalFilesNumber=0;
var readyFilesNumber=0;
var finishedFilesNumber=0;

function addTotalFilesFun(){
	totalFilesNumber++;
	//console.log(totalFilesNumber);
	$('#upload-files').linkbutton('disable');
}
function addReadyFilesFun(){
	readyFilesNumber++;
	if(readyFilesNumber==totalFilesNumber){
		$('#upload-files').linkbutton('enable');
	}
}
function addFinishedFilesFun(){
	finishedFilesNumber++;
	if(finishedFilesNumber==totalFilesNumber){
		dataGrid.datagrid('reload', $('#searchForm').serializeObject());
	}
}
function startUpload(){
	uploader.upload();
}
WebUploader.Uploader.register({
    'before-send-file': 'preupload'
}, {
    preupload: function( file ) {
        var me = this,
            owner = this.owner,
            server = me.options.server,
            deferred = WebUploader.Deferred();
        $.ajax({
    	    url: "../file/preUpload",
    	    data:{
    	    	pieceSHA512:file.pieceSHA512,
    	    	originalFilename:file.name
    	    },
    	    type: "POST",
    	    dataType: "json",
    	    success: function(responseMessage) {
    	    	if(responseMessage.code=="FileExist"){
    	    		addFinishedFilesFun();
    	    		owner.skipFile(file);
    	    		uploadGrid.datagrid('updateRow',
    	                    {index:uploadGrid.datagrid('getRowIndex',file.id),row:{fileState:'上传完成'}});
    	    		uploadGrid.datagrid('updateRow',
    	                    {index:uploadGrid.datagrid('getRowIndex',file.id),row:{progress:(100).toFixed(2)}});
    	    		deferred.reject();
    	    	}
    	    	console.log(responseMessage);
    	    	deferred.resolve();
    	    },
    	    error:function(){
    	    	$.messager.alert('<@spring.message 'message' />', '<@spring.message 'error' />', 'info');
    	    	deferred.reject();
    	    }
    	});
        return $.when(deferred);
    }
});
$(document).ready(function(){

	uploader.on( 'fileQueued', function( file ) {
		addTotalFilesFun();
        var fileSize = $.formatSize(file.size);
        var row =  {fileId:file.id,fileName:file.name,fileSize:fileSize,pieceSHA512:'0%',progress:0,fileState:"等待上传"};
        uploadGrid.datagrid('insertRow', {
            index: 0,
            row:row
        });
        var reader = new FileReader();
        reader.readAsArrayBuffer(file.source.source);
        reader.onprogress=function(event){
        	var percentage=event.loaded/event.total;
        	uploadGrid.datagrid('updateRow',
                    {index:uploadGrid.datagrid('getRowIndex',file.id),row:{pieceSHA512:(percentage * 100).toFixed(2)+"%"}});
        	//console.log(event.loaded/event.total);
        }
        reader.onload = function(){
        	addReadyFilesFun();
            var pieceArrayBuffer=this.result.slice(0,1000000);
        	var pieceWordArray=CryptoJS.lib.WordArray.create(pieceArrayBuffer);
        	var pieceSHA512=CryptoJS.SHA512(pieceWordArray).toString();
        	file.pieceSHA512=pieceSHA512;     	
            console.log(pieceSHA512);
        }
    });
	uploader.on( 'uploadProgress', function( file, percentage ) {
        uploadGrid.datagrid('updateRow',
                {index:uploadGrid.datagrid('getRowIndex',file.id),row:{progress:(percentage * 100).toFixed(2)}});
    });
	uploader.on('uploadSuccess',function(file,responseMessage){
		if(responseMessage=="Error"){
			$.messager.alert('<@spring.message 'message' />', '<@spring.message 'error' />', 'info');
			return;
		}
		uploadGrid.datagrid('updateRow',
                {index:uploadGrid.datagrid('getRowIndex',file.id),row:{fileState:'上传完成'}});
		addFinishedFilesFun();
	});
	/* uploader.on('uploadError',function(file){
			$.messager.alert('<@spring.message 'message' />', '222<@spring.message 'error' />', 'info');
	}); */
    uploadGrid = $("#upload-files-grid").datagrid({
        fit: true,
        fitColumns: true,
        rownumbers: true,
        nowrap: true,
        animate: false,
        border: false,
        fitColumns:true,
        singleSelect: false,
        idField: 'fileId',
        pagination: false,
        columns:[[
            { field:'ck',checkbox:true },
            { title: 'fileId', field: 'fileId',hidden:true,width:100},
            { title: '文件名称',field: 'fileName',width: 230,fixed:true},
            { title: '文件大小',field: 'fileSize',width: 80,fixed:true},  
            { title: '文件验证',field: 'pieceSHA512',width: 60,fixed:true},  
            { title: '上传进度',field: 'progress',width: 180,fixed:true,formatter: function (value, rec){
                 var htmlstr = '<div class="easyui-progressbar progressbar" style="width: 170px; height: 20px;" value="'+value +'" text="'+value+'%">'+
                 '<div class="progressbar-text" style="width: 170px; height: 20px; line-height: 20px;">'+value+'%</div>'+
                     '<div class="progressbar-value" style="width: '+value+'%; height: 20px; line-height: 20px;">'+
                         '<div class="progressbar-text" style="width: 170px; height: 20px; line-height: 20px;">'+value+'%</div>'+
                     '</div>'+
                 '</div>';
                 return htmlstr;
            }},       
            { title: '上传状态',field: 'fileState',width: 80,fixed:true},  
        ]]
    });
    $("#add-files").click(function(){
    	$('#hidden-picker-div input').click();
    });
    $("#remove-files").click(function(){
    	var fileRows = uploadGrid.datagrid("getSelections"); 
        var copyRows = [];
        for ( var j= 0; j < fileRows.length; j++) {
            copyRows.push(fileRows[j]);
        }
        for(var i =0;i<copyRows.length;i++){    
            var index = uploadGrid.datagrid('getRowIndex',copyRows[i]);
            uploader.removeFile(copyRows[i].fileId, true); 
            uploadGrid.datagrid('deleteRow',index); 
        }
        uploadGrid.datagrid('clearSelections');
    });
    /* $('#upload-files').click(function(){
    	uploader.upload();
    }); */


});
var uploader = WebUploader.create({
    server: '${ctx}/file/upload',
    pick: {id: '#hidden-picker-div'},
    compress : false,
    resize: false,
    formData: {
    	${_csrf.parameterName}:'${_csrf.token}'
    }
});

</script>
<div id="hidden-picker-div" style="display:none">
</div>
  <div class="easyui-layout" data-options="fit:true">  
        <div data-options="region:'center'">
            <div class="easyui-panel"  style="height: 27px;" data-options="border:false">
                <a class="easyui-linkbutton" id="add-files" data-options="iconCls:'icon-add'" style="height: 25px;width: 150px;">添加文件</a>
                <a class="easyui-linkbutton" id="remove-files" data-options="iconCls:'icon-remove'" style="height: 25px;width: 150px;">移除文件</a>
                <a class="easyui-linkbutton" id="upload-files" data-options="iconCls:'icon-save'" disabled=true style="height: 25px;width: 150px;" onclick="startUpload();">开始上传</a>
             </div>
            <table id="upload-files-grid"></table>
        </div>
  </div>